@{
    ViewData["Title"] = "Home Page";
}
<h1>Calendar Application</h1>

<style>
    html, body {
        background-color: whitesmoke;
    }
     
</style>
<p>Click on "Calendar Events" above to view and edit events</p>

