@model CalendarMvc.Models.Event

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Event</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="Title" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Date" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Location" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Location" class="form-control" />
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PrimaryAttendeeEmail" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PrimaryAttendeeEmail" class="form-control" />
                <span asp-validation-for="PrimaryAttendeeEmail" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="PrimaryAttendeeName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="PrimaryAttendeeName" class="form-control" />
                <span asp-validation-for="PrimaryAttendeeName" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="EventId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="EventId" class="form-control" />
                <span asp-validation-for="EventId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<style>
    html, body {
        background-color: whitesmoke;
    }
</style>
